body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.titolpagina {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnlogin {

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.btnlogin :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btnnav {

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }


}

.btnnav:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}



.container {
    width: 100% !important;
    max-width: 100000px !important;
}

.texttitol {
    color: white;
    background-color: black;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
    -webkit-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
}
.divapartaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
   
}

.card {
    width: 350px; 
    margin-bottom: 20px;
    margin: 10px; 
}



/* Estilo para el botón "Settings" */
.btn-settings {
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    border: solid; /* Sin borde */
    padding: 10px 20px; /* Relleno interno del botón */
    border-radius: 8px; /* Radio de borde para bordes redondeados */
    
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
    
}

/* Estilo para el botón cuando se coloca el cursor encima */
.btn-settings:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse por encima */
    color: #ffffff;
}



.texteditdades{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(141, 116, 116, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    
    
}
.texteditdades:hover{
    box-shadow: 0 0 0 0 #fff inset, #061bda 0 0 0 2px;
}
.texteditdades:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #03c091 0 0 0 3px;
}

.confirmaredit{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;

}

#map {
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}

.btnobrirtaula{
    width: 100%;
    background-color: #212529;
    color: #fff;
    border: solid;
    border-color: #303030;
}