body {
    
    background-image: url('img/wallweb2.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-attachment: fixed; 
}

.titolpagina {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnlogin {

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }

}

.btnnav {

    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    :hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }


}

.btnnav:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}



.container {
    width: 100% !important;
    max-width: 100000px !important;
}

.texttitol {
    color: white;
    background-color: black;
    height: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
    -webkit-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 8px 37px 80px 0px rgba(0, 0, 0, 0.55);
}
.divapartaments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
   
}

.card {
    width: 350px; 
    margin-bottom: 20px;
    margin: 10px; 
}



/* Estilo para el botón "Settings" */
.btn-settings {
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    border: solid; /* Sin borde */
    padding: 10px 20px; /* Relleno interno del botón */
    border-radius: 8px; /* Radio de borde para bordes redondeados */
    
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
    
}

/* Estilo para el botón cuando se coloca el cursor encima */
.btn-settings:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse por encima */
    color: #ffffff;
}



.texteditdades{
    
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(141, 116, 116, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    
    
}
.texteditdades:hover{
    box-shadow: 0 0 0 0 #fff inset, #061bda 0 0 0 2px;
}
.texteditdades:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #03c091 0 0 0 3px;
}

.confirmaredit{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;


}
.confirmaredit:hover {
    border-color: #000000;
    background: #f7f7f7;
}